/*поле ползунка*/
body {
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
}
::-webkit-scrollbar {
  width: 0;
}
#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 12px;
  z-index: 99;
  border-radius: 10px;
  background: #88b7fd;
}
.popup-1 {
  position: absolute;
  -webkit-transform: translateX(17%) translateY(5%);
          transform: translateX(17%) translateY(5%);
  display: none;
  z-index: 2;
  -webkit-box-shadow: 0 0 10px #444;
          box-shadow: 0 0 10px #444;
}
.popup-1-close {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #777;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.popup-1-close:hover {
  text-decoration: none;
  color: #333;
}
.popup-1 a {
  margin-left: 95%;
}
.popup-1 h1 {
  margin-top: 10px;
  font-size: 36px;
  font-weight: bold;
}
.popup-1 p {
  width: 55%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 50px;
}
.popup-1-overlay {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
}
.popup-2 {
  position: absolute;
  -webkit-transform: translateX(17%) translateY(-80%);
          transform: translateX(17%) translateY(-80%);
  display: none;
  z-index: 2;
  -webkit-box-shadow: 0 0 10px #444;
          box-shadow: 0 0 10px #444;
}
.popup-2-close {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #777;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.popup-2-close:hover {
  text-decoration: none;
  color: #333;
}
.popup-2 a {
  margin-left: 95%;
}
.popup-2 h1 {
  margin-top: -5px;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}
.popup-2 p {
  width: 75%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 50px;
}
.popup-2-overlay {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
}
form {
  width: 70%;
  height: 350px;
  margin: auto;
  z-index: 99;
  color: #4f4f4f;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 0 #aeaeae,
            0 5px 20px #aeaeae;
          box-shadow: 0 5px 0 #aeaeae,
            0 5px 20px #aeaeae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
form h1 {
  margin-top: 50px;
}
form p {
  width: 55%;
  margin: auto;
  margin-top: -50px;
  margin-bottom: 50px;
}
form .form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
form .form-block input {
  border-radius: 50px;
  border: none;
  text-align: center;
  background-color: #eee;
  font-size: 14px;
  margin-right: 30px;
  margin-bottom: 10px;
  min-width: 255px;
  max-width: 255px;
  height: 60px;
  outline: none;
}
form .form-block button {
  margin-top: -5px;
  border-radius: 50px;
  max-height: 67px;
  padding: 1px 50px;
  border: none;
  background-color: #FFB200;
  font-size: 16px;
  color: #4f4f4f;
  outline: none;
}
form .form-block button:focus {
  outline: none;
}
header {
  background: url(../img/ggg.png) no-repeat top center;
  background-size: 100%;
  background-color: #fff;
  min-height: 700px;
  margin-top: -10px;
}
.header-content {
  width: 94%;
  margin: auto;
}
.header-content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  margin-bottom: 30px;
}
.header-content .header .logo {
  font-size: 14px;
  color: #f2f2f2;
  text-align: left;
  margin-left: 10px;
  margin-right: -290px;
  font-weight: 400;
  opacity: .7;
}
.header-content .header .links {
  text-align: left;
}
.header-content .header .links a {
  color: #f2f2f2;
  margin-right: 19px;
  font-size: 14px;
  font-weight: 400;
  opacity: .7;
}
.header-content .header .links a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  opacity: .9;
}
.header-content .header button {
  padding: 15px 45px;
  background-color: #ffffff;
  color: #67976f;
  border: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 50px;
  margin-right: -20px;
}
.header-content .header button a {
  color: #67976f;
}
.header-content .header button a:hover {
  text-decoration: none;
}
.header-content .title {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 100%;
  color: #ffffff;
  width: 60%;
  margin-bottom: 20px;
}
.header-content .title i {
  font-style: normal;
  color: #67976f;
}
.header-content .description {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 100%;
  margin-bottom: 31px;
  width: 50%;
}
.header-content .description i {
  font-style: normal;
  color: #67976f;
}
.header-content-button img {
  position: absolute;
  margin-top: -26px;
  margin-left: 280px;
}
.header-content-button button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-shadow: 0 0 4px #333;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  padding: 30px 80px 32px;
  left: 100px;
  background: linear-gradient(180.97deg, #a1d5aa 3.39%, #67976f 96.19%);
  -webkit-box-shadow: 0 3px 0 #3e5a42, 0 0 5px #67976f, 0 0 20px #67976f, 0 0 30px #67976f, 0 0 35px #67976f;
          box-shadow: 0 3px 0 #3e5a42, 0 0 5px #67976f, 0 0 20px #67976f, 0 0 30px #67976f, 0 0 35px #67976f;
  outline: none;
}
.header-content-button button:focus {
  outline: none;
}
.header-content-button button a {
  color: #ffffff;
  text-decoration: none;
}
.header-content-button button a:hover {
  color: #ffffff;
  text-decoration: none;
}
.header-content .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  background: linear-gradient(155.34deg, #ffe074 1.42%, #d1a857 97.46%), linear-gradient(184.46deg, #f57272 3.39%, #c04747 96.19%);
  -webkit-box-shadow: 0px 22.7566px 45.5132px rgba(168, 136, 25, 0.48), 0px 2.13156px 0px #a98320, 0px 0px 52.7773px rgba(255, 240, 164, 0.38), 0 0 5px #ffb200, 0 0 35px #ffb200;
          box-shadow: 0px 22.7566px 45.5132px rgba(168, 136, 25, 0.48), 0px 2.13156px 0px #a98320, 0px 0px 52.7773px rgba(255, 240, 164, 0.38), 0 0 5px #ffb200, 0 0 35px #ffb200;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  position: relative;
  margin-left: 800px;
  margin-top: -45px;
  -webkit-animation: pulse 0.9s ease-in-out 2s infinite;
          animation: pulse 0.9s ease-in-out 2s infinite;
}
.header-content .play:focus {
  outline: none;
}
.header-content .play::before {
  content: '';
  width: 132px;
  height: 132px;
  border: 1px solid #FCFCB6;
  opacity: 0.3;
  position: absolute;
  border-radius: 50%;
  left: -28px;
  top: -28px;
  -webkit-animation: pulse 0.9s ease-in-out 2s infinite;
          animation: pulse 0.9s ease-in-out 2s infinite;
}
.header-content .play::after {
  content: '';
  width: 85px;
  height: 85px;
  border: 1px solid #FCFCB6;
  opacity: 0.3;
  position: absolute;
  border-radius: 50%;
  left: -5px;
  top: -5px;
  -webkit-animation: pulse 0.9s ease-in-out 2s infinite;
          animation: pulse 0.9s ease-in-out 2s infinite;
}
.header-content .fa-play {
  color: #fff;
}
.header-content .fa {
  position: relative;
  margin-left: 5px;
}
.fucking-right-listik {
  float: right;
  margin-top: 75px;
}
.main {
  margin-bottom: 100px;
}
.main h1 {
  text-align: center;
  color: #4f4f4f;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 60px;
}
.main .section-1-card-2 {
  margin-left: 100px;
  margin-right: 100px;
}
.main-section-1 {
  margin-bottom: 100px;
}
.main-section-1 h1 {
  margin-left: 200px;
}
.main-section-1_card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-section-1_card-block .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 212px;
  max-height: 260px;
  min-width: 212px;
  min-height: 260px;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #D4D4D4,
							0 3px 10px #D4D4D4;
          box-shadow: 0 0 10px #D4D4D4,
							0 3px 10px #D4D4D4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}
.main-section-1_card-block .cards i {
  position: absolute;
  margin-left: -100px;
  margin-top: 150px;
}
.main-section-1_card-block .cards img {
  padding-top: 15px;
  max-height: 105px;
  min-height: 105px;
}
.main-section-1_card-block .cards h6 {
  color: #4f4f4f;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  margin-top: 5px;
  padding-bottom: 6px;
}
.main-section-1_card-block .cards .text-kerta-1 {
  margin-top: 0px;
}
.main-section-1_card-block .cards .text-kerta-2 {
  margin-top: 3px;
}
.main-section-1_card-block .cards .text-kerta-3 {
  margin-top: 3px;
}
.main-section-1_card-block .cards p {
  color: #4f4f4f;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  vertical-align: center;
}
.main .problems-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}
.main .problems-block {
  padding: 30px;
}
.main-section-2 {
  max-height: 250px;
}
.main-section-2_card-block {
  margin-bottom: 175px;
}
.main-section-2_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4f4f4f;
}
.main-section-2_cards i {
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
}
.main-section-2_cards img {
  margin-right: 30px;
  max-height: 135px;
}
.main-section-2_cards p {
  margin-top: 35px;
  font-size: 13px;
  max-width: 400px;
}
.main-section-3 {
  background: url(../img/fon_for_2-block.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  height: 600px;
}
.main-section-3 .section-form {
  padding-top: 150px;
}
.main-section-3 .section-form .form-list {
  position: absolute;
  margin-left: 150px;
  margin-top: -50px;
  z-index: 1;
}
.main-section-3-form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-section-3-form-block input {
  border-radius: 50px;
  border: none;
  text-align: center;
  background-color: #eee;
  font-size: 14px;
  margin-right: 30px;
  margin-bottom: 10px;
  min-width: 255px;
  max-width: 255px;
  height: 60px;
  outline: none;
}
.main-section-3-form-block button {
  margin-top: -5px;
  border-radius: 50px;
  max-height: 70px;
  padding: 1px 50px;
  border: none;
  background-color: #FFB200;
  font-size: 16px;
  color: #4f4f4f;
  outline: none;
}
.main-section-3-form-block button:focus {
  outline: none;
}
.main-section-4_card-block {
  margin-bottom: 100px;
}
.main-section-4_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4f4f4f;
  margin-left: -10px;
}
.main-section-4_cards i {
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
}
.main-section-4_cards img {
  margin-right: 20px;
  max-height: 135px;
}
.main-section-4_cards p {
  margin-top: 30px;
  font-size: 12px;
}
.main-section-5-cards-block {
  margin-bottom: 100px;
  height: 100%;
}
.main-section-5 .features-slider {
  outline: none;
  border: none;
  height: 300px;
  padding-top: 20px;
}
.main-section-5 .features-slider:focus {
  outline: none;
}
.main-section-5 .features-block-slide {
  border: none;
  outline: none;
  min-width: 330px;
  min-height: 158px;
  max-width: 330px;
  max-height: 158px;
  margin: auto;
  background-color: #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}
.main-section-5 .features-block-slide img {
  position: absolute;
  margin-left: -50px;
  margin-top: -55px;
  height: 100%;
}
.main-section-5 .features-block-slide button {
  margin: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  background: linear-gradient(155.34deg, #ffe074 1.42%, #d1a857 97.46%), linear-gradient(184.46deg, #f57272 3.39%, #c04747 96.19%);
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 0 #c09135;
          box-shadow: 0 3px 0 #c09135;
  border: none;
  position: relative;
  outline: none;
}
.main-section-5 .features-block-slide button:hover {
  opacity: .8;
}
.main-section-5 .features-block-slide .fa-play {
  color: #fff;
  font-size: 16px;
}
.main-section-5 .features-block-slide .fa {
  position: relative;
  margin-left: 5px;
}
.main-section-5 .features-block-slide:focus {
  outline: none;
  border: none;
}
.main-section-5 .features-block-slide-1 {
  background: url(../img/feedback-1.1.1pg.jpg) no-repeat center center;
  background-size: cover;
}
.main-section-5 .features-block-slide-2 {
  background: url(../img/feedback-1.1.2.jpg) no-repeat center center;
  background-size: cover;
}
.main-section-5 .features-block-slide-3 {
  background: url(../img/feedback-1.1.3pg.jpg) no-repeat center center;
  background-size: cover;
}
.main-section-5 .features-block-slide-4 {
  background: url(../img/feedback-1.1.4.jpg) no-repeat center center;
  background-size: cover;
}
.main-section-5 .features-block-slide-5 {
  background: url(../img/feedback-1.1.5.jpg) no-repeat center center;
  background-size: cover;
}
.main-section-5 .features-block-slide-6 {
  background: url(../img/feedback-1.1.6.jpg) no-repeat center center;
  background-size: cover;
}
.main-section-5 .features-block-slide-7 {
  background: url(../img/feedback-1.1.7.jpg) no-repeat center center;
  background-size: cover;
}
.main-section-5 .features-block-slide-8 {
  background: url(../img/feedback-1.1.8.jpg) no-repeat center center;
  background-size: cover;
}
.main-section-5 .features-block-slide-9 {
  background: url(../img/feedback-1.1.9.jpg) no-repeat center center;
  background-size: cover;
}
.main-section-5 .features-block-slide-10 {
  background: url(../img/feedback-1.1.10.jpg) no-repeat center center;
  background-size: cover;
}
.main .slick-active {
  outline: none;
}
.main .prev {
  position: absolute;
  z-index: 99;
  width: 35px;
  height: 35px;
  border: none;
  background: url(../img/prev_arrow.png) no-repeat center;
  background-size: 70%;
  top: 25%;
  left: -50px;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
  outline: none;
}
.main .next {
  position: absolute;
  z-index: 99;
  width: 35px;
  height: 35px;
  border: none;
  background: url(../img/next_arroe.png) no-repeat center;
  background-size: 70%;
  top: 25%;
  right: -50px;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
  outline: none;
}
.main-section-6 {
  margin-bottom: 70px;
}
.main-section-6_cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-section-6 img {
  position: absolute;
  margin-left: 128px;
  margin-top: 50px;
  z-index: 1;
}
.main-section-6-carta {
  max-width: 202px;
  max-height: 170px;
  min-width: 202px;
  min-height: 170px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px #c2c2c2;
          box-shadow: 0 3px 10px #c2c2c2;
  z-index: 99;
}
.main-section-6 .cartinka-1 {
  background: url(../img/Граамота-1s.jpg) no-repeat top center;
  z-index: 9;
  background-size: cover;
  max-width: 202px;
  max-height: 170px;
  min-width: 202px;
  min-height: 157px;
}
.main-section-6 .cartinka-2 {
  background: url(../img/diplom-1.jpg) no-repeat center center;
  z-index: 9;
  background-size: 100%;
  max-width: 202px;
  max-height: 170px;
  min-width: 202px;
  min-height: 157px;
}
.main-section-6 .cartinka-3 {
  background: url(../img/diplom-2.jpg) no-repeat center center;
  z-index: 9;
  background-size: 100%;
  max-width: 202px;
  max-height: 170px;
  min-width: 202px;
  min-height: 157px;
}
.main-section-6 .cartinka-4 {
  background: url(../img/Грамота-2.jpg) no-repeat top center;
  z-index: 9;
  background-size: 100%;
  max-width: 202px;
  max-height: 170px;
  min-width: 202px;
  min-height: 157px;
}
.main .favorites-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .favorites-block {
  padding-right: 30px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 150px;
}
footer {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -5px;
  margin-top: -25px;
}
footer .footer-item p {
  color: #4f4f4f;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}
footer .footer-item a {
  text-decoration: none;
  color: #67976f;
  font-weight: 400;
  margin-top: 5px;
  font-size: 14px;
}
footer .footer-item i {
  font-size: 14px;
  color: #67976f;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 5px;
  font-style: normal;
}
footer .footer-item .fa {
  margin-right: 15px;
  font-weight: 400;
  font-size: 20px;
  color: #67976f;
  margin-top: -5px;
}
